@import 'bootstrap';

.add-form {
  .field_with_errors {
    @extend .control-group;
    @extend .error;
    display: inline;
  }

  #event_event_name {
    width: 70%;
  }

  #event_country {
    width: 49%;
  }

  #event_city {
    width: 50%;
  }

  label {
    font-weight: normal;
  }

  #event_from_date {
    width: 43%;
  }

  #event_until_date {
    width: 43%;
  }
}

